*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    background-color: #b9b9b9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    margin: 1rem auto;
    font-size: 3rem;
}
.main{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    /*margin: auto 1rem;*/
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.menu > *{
    margin: auto .5rem;
}
.container{
    width: 480px;
    height: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;


}
.column{
    border: .1rem dotted rgba(233, 233, 233, 0.69);
}
.row{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
}
.column{
    height: 100%;
    width: 30px;
}
.btn{
    padding:.5rem 1rem;
    border: 1px solid #000;
    border-radius: .5rem;
    transition: all 1s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 1px 1px 5px #000;
    background-color: #9da7a7;
    color: white;
}
label{
    font-size: 1rem;
    color: #414141;
}
#favcolor{
    /*padding:.5rem 1rem;*/
    border: none;
    border-radius: .5rem;
    transition: all 1s;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
}


